.services-container {
  padding: 80px 0;
  background-color: #fff;
}

.services-header {
  margin-bottom: 3rem;
  padding: 0 3.2rem;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .service-btn{
    position: relative;
    z-index: 2;
    .btn-layer{
        position: absolute;
        top:60%;
        width: 140px;
        height: 50px;
        left: 55%;
        transform: translate(-50%, -50%);
        background-color: #f3f0f0;
        border: 2px solid #000;
        border-radius: 10px;
        z-index: -1;
    }
  }

  .all-services-btn {
    border-radius: 10px;
    background-color: #2d2d2d;
    color: #fff;
    
    &:hover {
      background-color: #1f1f1f;
    }
  }
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
//   background: #000;
padding: 1rem;
  overflow-x: auto;
  gap: 1rem;
}

.service-card {
  border: 2px solid #2d2d2d;
  border-radius: 24px;
  padding: 32px;
  height: 330px;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: space-between;
  min-width: 19.6rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

   box-shadow:
    6px 6px 0 rgba(0, 0, 0, 1);

  &:hover {
    transform: translateY(-8px);
  }

  .icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(45, 45, 45, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    svg {
      font-size: 28px;
      color: #2d2d2d;
    }
  }

  .service-title {
    font-weight: 600;
    margin-bottom: 12px;
  }

  .service-description {
    color: #4a4a4a;
  }
}
